/*!
 * 
 * [Dojo](https://dojo.io/)
 * Copyright [JS Foundation](https://js.foundation/) & contributors
 * [New BSD license](https://github.com/dojo/meta/blob/master/LICENSE)
 * All rights reserved
 * 
 */
._3bA6jdSn {
	width: 100%;
	top: 0;
	height: 48px;
	z-index: 100;
	background-color: #1d1f20;
}

._1eoGfqku {
	height: 100%;
	margin: 0 auto;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9zcmMvbWVudS9tZW51Lm0uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiI7Ozs7Ozs7O0FBQUE7Q0FDQyxZQUFZO0NBQ1osT0FBTztDQUNQLGFBQWE7Q0FDYixhQUFhO0NBQ2IsMEJBQTBCO0NBQzFCOztBQUVEO0NBQ0MsYUFBYTtDQUNiLGVBQWU7Q0FDZiIsImZpbGUiOiJtZW51LTEuMC4wLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5yb290IHtcblx0d2lkdGg6IDEwMCU7XG5cdHRvcDogMDtcblx0aGVpZ2h0OiA0OHB4O1xuXHR6LWluZGV4OiAxMDA7XG5cdGJhY2tncm91bmQtY29sb3I6ICMxZDFmMjA7XG59XG5cbi5tZW51Q29udGFpbmVyIHtcblx0aGVpZ2h0OiAxMDAlO1xuXHRtYXJnaW46IDAgYXV0bztcbn1cblxuXG5cbi8vIFdFQlBBQ0sgRk9PVEVSIC8vXG4vLyAuL3NyYy9tZW51L21lbnUubS5jc3MiXSwic291cmNlUm9vdCI6IiJ9*/