:root {
	--background-color: #1d1f20;
}

.root {
	width: 100%;
	top: 0;
	height: 48px;
	z-index: 100;
	background-color: var(--background-color);
}

.menuContainer {
	height: 100%;
	margin: 0 auto;
}
